
#productname{
    font-size:20px;
    padding: 5px 0;
  }
  .editicon{
    font-size: 36px;
    padding: 0 10px;
  }
input[type="number"] {
    width: 50px;
    vertical-align: bottom;
    border: none;
    background: none;
    height: 44.5px;
    line-height: 44.5px;
    font-size: 28px;
    text-align: center;
  }
  ion-button{
      width: 100%;
  }