<ion-header>
  <ion-toolbar>
    <img slot="start" alt="logo" height="40" src="/assets/Logo_herbally.png" />
    <ion-title>Ordredetaljer</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin" *ngIf="!details">
    <ion-spinner color="light" name="circles"></ion-spinner>
  </div>
  <div *ngIf="details" color="light">
    <div class="abonnement">
      <div>
        <ion-icon src="assets/icon/box.svg"></ion-icon>
      </div>
      <div>
        <p id="id">#{{ details.id }}</p>
        <p id="overskrift"></p>
      </div>
      <div>
        <div *ngIf="details.status==='completed'">Afsendt</div>
        <div *ngIf="details.status==='processing'">Betalt</div>
        <div *ngIf="details.status==='refunded'">Refunderet</div>
        <div *ngIf="details.status==='order-underway'">I gang</div>
        <div *ngIf="details.status==='failed'">Mislykket</div>
        <div *ngIf="details.status==='cancelled'">Annulleret</div>
        <div *ngIf="details.status==='pending'">Behandler</div>
      </div>
    </div>
    <div class="collapsible">
      <div class="gridhistory">
        <ion-icon
          color="secondary"
          size="small"
          src="/assets/icon/truck.svg"
        ></ion-icon>
        <h6>Levering</h6>
        <ion-text class="noticevalue"></ion-text>
      </div>
      <div id="leveringscontent">
        <ion-text color="medium-tint">
          {{details.shipping.first_name}} {{details.shipping.last_name}}
          <br />
          {{details.shipping.address_1}} {{details.shipping.address_2}}
          <br />
          {{details.shipping.postcode}} {{details.shipping.city}}
        </ion-text>
      </div>
    </div>
    <div class="collapsible">
      <div class="gridhistory"> 
        <ion-icon 
        color="secondary" size="small" src="/assets/icon/box.svg"></ion-icon>
        <h6>Indhold</h6>
        <ion-text color="tertiary" class="noticevalue">
          {{details.line_items.length}} varer
        </ion-text>
      </div>
      <div id="kassecontent">
        <ion-grid class="kort">
          <ion-row
            style="align-items: center"
            *ngFor="let item of details.line_items"
          >
            <ion-col size="9"> {{ item.name }} </ion-col>
            <ion-col style="text-align: right" size="3">
              {{ item.quantity }} stk.
              <br />
              <ion-text class="total">
                {{ addNumbers(item.total, item.total_tax) | number}} kr.
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="collapsible">
      <div class="gridhistory">
        <ion-icon 
        color="secondary" size="small" name="card"></ion-icon>
        <h6>Betaling</h6>
        <ion-text color="tertiary" class="noticevalue">
          {{details.total | number}} kr.
        </ion-text>
      </div>
      <div id="betalingcontent">
        <hr />
        <p class="contentheading">Detaljer</p>
        <div class="adresselabel">Subtotal</div>
        <div class="adressevalue">
          {{details.total - details.shipping_total - details.shipping_tax}} kr.
        </div>
        <hr />
        <div class="adresselabel">Forsendelse</div>
        <div class="adressevalue">
          {{ addNumbers(details.shipping_total, details.shipping_tax) | number}}
          kr.
        </div>
        <hr />
        <ion-text color="secondary" class="adresselabel">Total</ion-text>
        <ion-text color="secondary" class="adressevalue">{{details.total | number}} kr.</ion-text>
      </div>
    </div>
  </div>
</ion-content>
