<ion-header>
  <ion-toolbar>
    <img slot="start"
      alt="logo"
      height="40"
      src="/assets/Logo_herbally.png"
    />
    <ion-title>Oversigt</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="spin" *ngIf="!information">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
    <div *ngIf="information">
      <h4 *ngIf="information.length == 1">Dit abonnement</h4>
      <h4 *ngIf="information.length > 1">Dine abonnementer</h4>
      <div *ngFor="let user of information">
        <ion-card
          button
          *ngIf="user?.status=='active' || user?.status=='on-hold'"
          [routerLink]="['/', 'abonnement', user.id]"
          color="light"
        >
          <ion-card-content>
            <ion-grid style="text-align: center">
              <ion-row>
                <ion-col class="oversigt">
                  <div class="dot">
                    <ion-icon
                      color="primary"
                      src="/assets/icon/box.svg"
                    ></ion-icon>
                    <br />
                    <ion-text class="aktiv" *ngIf="user?.status==='active'"
                      >Aktiv</ion-text
                    >
                    <ion-text class="pause" *ngIf="user?.status==='on-hold'"
                      >Pause</ion-text
                    >
                  </div>
                  <div style="text-align: left">
                    <ion-text class="nlevering">Næste bestilling</ion-text>
                    <br />
                    <ion-text
                      color="primary"
                      class="ldato"
                      *ngIf="user?.status==='active'"
                    >
                    {{ parseDate(user.schedule_next_payment.date) }}
                    </ion-text>
                    <ion-text class="ldato" *ngIf="user?.status==='on-hold'"
                      >Pause/manuel fornyelse</ion-text
                    >
                  </div>
                  <div>
                    <ion-icon
                      color="secondary"
                      style="justify-self: end"
                      size="small"
                      name="chevron-forward"
                    ></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  
</ion-content>
