<ion-header>
  <ion-toolbar>
    <img slot="start" alt="logo" height="40" src="/assets/Logo_herbally.png" />
    <ion-title>Abonnement</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4
    style="text-align: center; margin-top: 0; margin-bottom: 0"
    *ngIf="details"
  >
    Go'dag {{details?.billing.first_name}}
  </h4>
  <div class="spin" *ngIf="!details">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <div class="loadbar" *ngIf="load">
    <ion-spinner color="light" name="crescent"></ion-spinner>
    <ion-text color="light"> {{ load }}</ion-text>
  </div>
  <div *ngIf="details" color="light">
    <div class="abonnement">
      <div>
        <p id="overskrift">Dit Abonnement</p>
      </div>
      <div style="text-align: right">
        <p *ngIf="details.status==='active'" id="id">
          <span style="color: #00ba65">&#8226; Aktiv</span> | #{{ details.id }}
        </p>
        <p *ngIf="details.status==='on-hold'" id="id">
          <span style="color: #b00020">&#8226; Pause</span> | #{{ details.id }}
        </p>
      </div>
    </div>
    <div class="collapsible">
      <div button (click)="showContent()" class="grid154045">
        <ion-icon size="small" src="/assets/icon/truck.svg"></ion-icon>
        <h6>Levering</h6>
        <span *ngIf="details.status==='active'">
          <ion-text style="font-size: 12px; color: grey">
            {{ parseDate(details.schedule_next_payment.date) }}
          </ion-text>
        </span>
        <span *ngIf="details.status==='on-hold'"> </span>
        <ion-icon
          style="font-size: 16px; color: #ff9920"
          *ngIf="hidden"
          name="chevron-down"
        ></ion-icon>
        <ion-icon
          style="font-size: 16px; color: #ff9920"
          *ngIf="!hidden"
          name="chevron-up"
        ></ion-icon>
      </div>
      <div id="leveringscontent">
        <p class="subtitle1">Metode</p>
        <p>{{ details.shipping_lines[0].method_title }}</p>
        <div *ngIf="details.status==='active'">
          <p class="subtitle1">
            Næste bestilling
            <fa-icon
              button
              [icon]="['fas', 'pencil-alt']"
              class="edit"
              (click)="presentModal('date')"
            ></fa-icon>
          </p>
          <ion-text>
            {{ parseDate(details.schedule_next_payment.date) }}
          </ion-text>
        </div>
        <p class="subtitle1">
          Leveringsadresse<fa-icon
            [icon]="['fas', 'pencil-alt']"
            class="edit"
            (click)="adresse()"
            color="tertiary"
          ></fa-icon>
        </p>
        <p>
          {{details.shipping.first_name}} {{details.shipping.last_name}}
          <br />
          {{details.shipping.address_1}} {{details.shipping.address_2}}
          <br />
          {{details.shipping.postcode}} {{details.shipping.city}}
        </p>
        <p class="subtitle1">
          Note<fa-icon
            [icon]="['fas', 'pencil-alt']"
            class="edit"
            (click)="note()"
          ></fa-icon>
        </p>
        <p>{{ details.customer_note}}</p>
        <p *ngIf="!details.customer_note">Ingen note</p>
      </div>
    </div>
    <div class="collapsible">
      <div button (click)="showContentKasse()" class="grid154045">
        <ion-icon size="small" src="/assets/icon/box.svg"></ion-icon>
        <h6>Indhold</h6>
        <ion-text style="font-size: 12px; color: grey">
          {{details.line_items.length}}
          <span *ngIf="details.line_items.length > 1">produkter</span>
          <span *ngIf="details.line_items.length == 1">produkt</span>
        </ion-text>
        <ion-icon
          style="font-size: 16px; color: #ff9920"
          *ngIf="hiddenkasse"
          name="chevron-down"
        ></ion-icon>
        <ion-icon
          style="font-size: 16px; color: #ff9920"
          *ngIf="!hiddenkasse"
          name="chevron-up"
        ></ion-icon>
      </div>
      <div id="kassecontent">
        <ion-grid class="kort">
          <ion-row
            style="align-items: center"
            *ngFor="let item of details.line_items"
            button
            (click)="presentModal('edititem', item.name, item.id, item.quantity)"
          >
            <ion-col size="3" *ngIf="item.name == 'Herbal Box'">
              <ion-img [src]="item.imageurl"></ion-img>
            </ion-col>
            <ion-col size="3" *ngIf="item.name != 'Herbal Box'" class="bundleitem">
              <ion-img [src]="item.imageurl"></ion-img>
            </ion-col>
            <ion-col class="produkt" size="6"> {{ item.name }} </ion-col>
            <ion-col style="font-size: 14px" size="2">
              <ion-text *ngIf="item.name != 'Herbal Box'">
                {{ addNumbers(item.total, item.total_tax) | number}} kr.
              </ion-text>
              <br *ngIf="item.name != 'Herbal Box'"/>
              <ion-text> {{ item.quantity }} stk. </ion-text>
            </ion-col>
            <ion-col size="1">
              <fa-icon [icon]="['fas', 'pencil-alt']" class="edit"> </fa-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="text-align: center">
          <ion-button color="secondary" (click)="presentModal('ProductsPage')">
            Tilføj andet
          </ion-button>
        </div>
      </div>
    </div>
    <div button (click)="showContentBetaling()" class="collapsible">
      <div class="grid154045">
        <ion-icon size="small" src="/assets/icon/card.svg"></ion-icon>
        <h6>Betaling</h6>
        <ion-text style="font-size: 12px; color: grey">
          {{details.total | number}} kr.
        </ion-text>
        <ion-icon
          style="font-size: 16px; color: #ff9920"
          *ngIf="hiddenbetaling"
          name="chevron-down"
        ></ion-icon>
        <ion-icon
          style="font-size: 16px; color: #1a1715"
          *ngIf="!hiddenbetaling"
          name="chevron-up"
        ></ion-icon>
      </div>
      <div id="betalingcontent">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text>Subtotal</ion-text>
            </ion-col>
            <ion-col size="6" style="text-align: right">
              <ion-text>
                {{addNumbers(details.total - details.shipping_total -
                details.shipping_tax, addNumbers(details.discount_total,
                details.discount_tax)) }} kr.</ion-text
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-text>Levering</ion-text>
            </ion-col>
            <ion-col size="6" style="text-align: right">
              <ion-text>
                {{ addNumbers(details.shipping_total, details.shipping_tax) |
                number}} kr.</ion-text
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="details.discount_total > 0">
            <ion-col size="6">
              <ion-text>Rabat</ion-text>
            </ion-col>
            <ion-col size="6" style="text-align: right">
              <ion-text>
                -{{ addNumbers(details.discount_total, details.discount_tax) |
                number}} kr.</ion-text
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="details.discount_total > 0">
            <ion-col>
              <p
                style="margin: 10px 0"
                *ngFor="let coupon of details.coupon_lines"
              >
                Rabatkode: {{ coupon.code }}
                <ion-icon
                  button
                  (click)="removeCoupon(coupon.code)"
                  size="small"
                  src="/assets/icon/trash.svg"
                ></ion-icon>
              </p>
            </ion-col>
          </ion-row>
          <ion-row class="price">
            <ion-col size="6">
              <ion-text>Total</ion-text>
            </ion-col>
            <ion-col size="6" style="text-align: right">
              <ion-text> {{details.total | number}} kr.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="width: 100%">
          <p class="adresselabel">Betalingsmetode</p>
          <p>{{details.payment_method_title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="details">
    <h3>Handlinger</h3>
    <ion-item button (click)="coupon()">
      <ion-icon class="subicon" slot="start" name="cash-outline"></ion-icon>
      <ion-label> Tilføj rabatkode </ion-label>
    </ion-item>
    <ion-item *ngIf="details.status==='active'" button (click)="pause()">
      <ion-icon class="subicon" slot="start" name="pause-circle"></ion-icon>
      <ion-label> Sæt på pause </ion-label>
    </ion-item>
    <ion-item *ngIf="details.status==='on-hold'" button (click)="pause()">
      <ion-icon class="subicon" slot="start" name="play-circle"></ion-icon>
      <ion-label> Aktivér </ion-label>
    </ion-item>
    <ion-item
      *ngIf="details.status==='active'"
      button
      (click)="presentModal('date')"
    >
      <ion-icon
        class="subicon"
        slot="start"
        name="play-forward-circle"
      ></ion-icon>
      <ion-label> Ryk næste levering </ion-label>
    </ion-item>
    <ion-item *ngIf="details.status!='cancelled'" button (click)="afmeld()">
      <ion-icon class="subicon" slot="start" name="trash"></ion-icon>
      <ion-label> Afmeld abonnement</ion-label>
    </ion-item>
  </div>
  <ion-modal
    trigger="date-trigger"
    [breakpoints]="[0, 0.6]"
    [initialBreakpoint]="0.6"
  >
    <ng-template>
      <ion-content> </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
